@media (max-width: 430px) {
    #sreen_login {
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}