
#body_title {
    width: 100%;
    height: auto;
    padding: 0 0 0 40px;
}

#body_title h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 35px;
    color: var(--primary-color);
}

#body_title p {
    margin-top: 15px;
}

